:root {
    --cl-p1: #fff;
    --cl-s1: rgb(58, 58, 58);
    --bg-p: rgb(21, 29, 102);
    --bg-sh: rgba(204, 204, 204, 0.404);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    color: var(--cl-s1);
    display: grid;
    font-family: "Rubik", sans-serif;
}

/*** HEADER ***/

.header {
    color: var(--cl-p1);
    box-shadow: 0px 5px 10px var(--bg-sh);
    background-color: var(--bg-p);
}

.header>div {
    padding: 10px 5px;
    box-sizing: border-box;
}

.header>div .logo-title {
    font-family: "Style Script", cursive;
    font-weight: 900;
    font-size: 28px;
    text-decoration: none;
    color: var(--cl-p1);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar>nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.link-nav {
    text-decoration: none;
    display: block;
    margin: 0 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    color: var(--cl-p1);
    transition: all 250ms;
}

.link-nav:hover {
    color: var(--cl-p1);
    background-color: #090f44;
}

.link-active {
    color: var(--bg-p);
    background-color: #ffffffa2;
}

/*** SECTION ***/

section, footer {
    margin-top: 25px;
}

.container-f {
    max-width: 1200px;
}

@media screen and (min-width: 768px) {
    .box-body {
        display: grid;
        grid-template-columns: 30% 70%;
    }
}

.mx-auto {
    margin: auto;
}

/*** FOOTER ***/

.footer {
    box-shadow: 0px -5px 10px var(--bg-sh);
    text-align: center;
}

.footer p {
    line-height: 4em;
    padding: 0 10px;
}

/*** FORMULARIO IMAGENES ***/

.box-form {
    padding: 10px 5px;
    box-sizing: border-box;
}

.box-form input[type="file"] {
    display: none;
}

.box-form form>div {
    margin: 10px auto;
}

.box-form .btn-w1, .box-form .btn-w2, .box-form .btn-w3 {
    width: 98%;
    margin: auto;
    display: block;
    border: none;
    text-align: center;
    cursor: pointer;
}

.box-form .btn-w1 {
    background-color: rgba(165, 191, 230, 0.233);
    color: black;
    line-height: 2.2em;
}

.box-form .btn-w2 {
    background-color: #1c42aa;
    color: white;
    line-height: 3em;
    text-transform: uppercase;
    font-weight: 900;
}

.box-form .btn-w3 {
    background-color: #aa1c1c;
    color: white;
    line-height: 3em;
    text-transform: uppercase;
    font-weight: 900;
}

.box-img, .box-video, .box-doc {
    width: 95%;
    max-width: 250px;
    margin: 25px auto;
}

.box-img p, .box-video p, .box-doc p {
    margin: 10px auto;
    overflow: hidden;
}

.box-img>img, .box-video>video, .box-doc>iframe {
    display: block;
    width: 98%;
    margin: auto;
}

/** SECCION DE IMAGENES**/

.box-picture h3 {
    margin: 10px;
}

.box-picture .msg-register {
    padding: 10px;
    box-sizing: border-box;
}

.box-picture .box-list-file {
    padding: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

@media (min-width: 768px) {
    .box-picture .box-list-file {
        grid-template-columns: repeat(3, 1fr);
    }
}

.box-picture picture {
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 250px;
    max-height: 250px;
    position: relative;
    cursor: pointer;
}

.box-picture picture:hover>img {
    filter: blur(5px);
    transform: scale(2);
}

.box-picture picture>img, .box-picture picture>video {
    transform: scale(0.8);
    width: 100%;
    height: 100%;
    display: block;
    transition: all 200ms;
}

.box-picture .doc-file{
    text-align: center;
    font-size: 100px;
    display: block;
    padding: 10px;
    box-sizing: border-box;
}

.box-picture picture:hover>.control-img, .box-picture picture:hover>.control-video {
    transform: scale(1);
}

.control-img {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(97, 97, 97, 0.11);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 200ms;
}

.control-img .btn-control {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.596);
}

.control-img .btn-control, .control-video .btn-control {
    display: inline-block;
    text-decoration: none;
    border-radius: 8%;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    margin: 10px;
    box-sizing: border-box;
}

.control-img button, .control-video button {
    border: none;
    cursor: pointer;
}

.control-video {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(97, 97, 97, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 200ms;
}

.control-video .btn-control {
    color: rgb(206, 0, 0);
    background-color: rgb(253, 253, 253);
}

/************
COMPONENTES
**********/

/****** selectOption *****/

.card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 50px 0;
}

.card-option {
    text-decoration: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.144);
    width: 98%;
    max-width: 300px;
    margin: auto;
    text-align: center;
    color: #090f44;
    transition: all 250ms;
}

.card-option:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.37);
}

.card-option i {
    display: block;
    line-height: 2em;
    font-size: 75px;
}

.card-option .card-title {
    line-height: 3em;
    display: block;
}

@media (min-width: 768px) {
    .card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/******* Paginations ******/

.box-link-page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.box-link-page a {
    display: block;
    text-decoration: none;
}

.link-light {
    background-color: #ffffff;
    color: #3d3d3d;
    box-shadow: 0 2px 8px rgba(156, 156, 156, 0.582);
}

.link-blue {
    background-color: #1c42aa;
    color: #f1f1f1;
}

.link-disabled {
    background-color: #919191;
    color: #f1f1f1;
    cursor: no-drop;
}

.box-link-page>.link-page {
    box-sizing: border-box;
    padding: 9px 12px;
    border-radius: 3px;
    margin: 10px 3px;
}

.box-link-page>.link-all {
    box-sizing: border-box;
    padding: 9px 12px;
    border-radius: 3px;
    margin: 10px 3px;
}